<!-- navbar -->
<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button  color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title class="text-center text-white">{{name}}</ion-title>
        <ion-buttons slot="end">
            <ion-toggle [(ngModel)]="api.dark" (ionChange)="toggleTheme($event)"></ion-toggle>
            <ion-icon name="moon" *ngIf="!api.dark"></ion-icon>
            <ion-icon name="sunny" *ngIf="api.dark"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>