// ion-content {
//     --background: #e4e4e4
// }

// ion-card {
//     border-radius: 10px;
//     // margin-top: 40%;
// }

// .row {
//     min-height: 600px;
//     height: 100%;
// }
input {
    color: rgb(60, 60, 60);
}
.button {
    background: #676767;
    border-radius: 20px;
    padding: 0 12px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform:uppercase;
    margin-top: 20px;
    border: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}