agm-map {
    height: 400px;
}

#map {
    float: left;
    width: 100%;
    height: 90%;
}
ion-calendar {
    padding: 0px;
}
ul {
    height: 0px;
}
ion-input {
    text-align: end;
}