<!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-title slot="start">Update Password</ion-title>
        <ion-buttons slot="end" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<div class="navbar radius-bottom navbar-default navbar-highlight navbar-home">
    <div class="left">
    <ion-title class="text-white">Update Password</ion-title>
    </div>
    <div class="right">
      <div class="toggle-icon-app"></div>
      <div class="mode-text">
        <ion-buttons slot="end" (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </ion-buttons>
      </div>
    </div>
  </div>
<ion-content class="ion-padding">
    <form [formGroup]="profileForm">
        <div class="form-group mt-3 mb-3">
            <ion-label>Current Password</ion-label>
            <ion-input class="form-control " formControlName="password" type="password"></ion-input>
        </div>
        <div class="form-group mt-3 mb-3">
            <ion-label>New Password</ion-label>
            <ion-input class="form-control " formControlName="new_password" type="password"></ion-input>
        </div>
        <div class="form-group mt-3 mb-3">
            <ion-label>Confirm New Password</ion-label>
            <ion-input class="form-control " formControlName="confirm_password" type="password"></ion-input>
        </div>
        <button class="btn btn-dark w-100 mb-3" [disabled]="profileForm.invalid" (click)="updateProfile()"><b>Update Password</b></button>
    </form>
</ion-content>